html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100%;
    display: flex;
}

.image-container {
    width: 40vw;
    height: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border: 2px solid red;
}

.background-image {
    width: inherit;
    height: inherit;
    display: block;
}

.sticky-text {
    position: absolute;
    top: 25%;
    text-align: center;
    width: inherit;
    background-color: black;
    padding: 20px 0px 20px 0px;
    opacity: 10%;
    color: white;
}

@media only screen and (max-width: 600px) {
    .image-container {
        display: none;
    }

    .form-container {
        border: 5px solid red;
    }
}